h1 {
  font-family: Noto Sans TC, Arial, sans-serif;
}
body {
  font-family: Noto Sans TC, Arial, sans-serif,  Optima, Candara, Calibri;
  line-height:1.8;
  /* font-weight:normal; */
}
code {
  font-family: "Fira Code", Ubuntu mono, monospace;
  font-size: 85%;
}


