<script src="//yihui.name/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script async src="//yihui.name/js/center-img.js"></script>
{{ template "_internal/google_analytics.html" . }}
<script src="https://giscus.app/client.js"
        data-repo="tienyuan-huang/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMzQ5NDI0MTc="
        data-category="Announcements"
        data-category-id="DIC_kwDODgDv0c4CaitC"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
</script>